---
import TetrisCanvas from "../components/tetris-canvas/TetrisCanvas.astro";
import Main from "../layouts/Main.astro";

---


<Main>
	<TetrisCanvas 
		is_player_canvas={true}
		scale={20}
	/>
	<script src="../components/tetris-canvas/tetromino">
	</script>
</Main>

