---
import Main from "../layouts/Main.astro";

const buttons = [
	{
		name: "Play",
		href: "/play",
		target: "_self"
	},
	{
		name: "Settings",
		href: "/settings",
		target: "_self"
	},
	{
		name: "About",
		href: "/about",
		target: "_self"
	},
	{
		name: "Github",
		href: "",
		target: "_blank"
	}
]

---
<Main>
	<main class="container">
		<div class="menu-container">
			<h1 class="tetris-title">TETRIS</h1>

			<ul>
				{buttons.map((b) => (
					<li>
						<a
							title={b.name}
							href={b.href}
							target={b.target}
						>
							{b.name}
						</a>
					</li>
				))}
			</ul>
		</div>
	</main>
	
	<style>
		ul li a {
			width: 100%;
		}

		.menu-container {
			min-height: 100dvh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.tetris-title {
			text-shadow: -0.075rem 0.075rem 0.25rem hsl(var(--text));
		}
	</style>
</Main>

