---
import "../styles/globals.css";
import { site_config } from "../config/site";
import { tetromino_config } from "../config/tetromino";
export interface Props {
	/**
	 * Will be added to the main title
	 */
	title?: string;
	description?: string;
}

const props = Astro.props;
---

<html lang="en" dir="auto">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>{site_config.title}{props.title ? (" | " + props.title) : ""}</title>
		<meta name="description" content={props.description || site_config.description} />
	</head>
	<body>
		<img src={`/${tetromino_config.sprite_image_name}`} alt=" " hidden role="presentation" id={tetromino_config.spritesheet_id}  />
		<slot />
	</body>
</html>

